<h2>Criar conta</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>

    <!-------------- DADOS PESSOAIS---------------->
    <h4 style="border-bottom: 2px solid #aaa">Dados Pessoais</h4>
    <div id="devise_form_box">
      <div class="field">
        <%= f.label :nome %>
        <%= f.text_field :nome %>
      </div>
      <br/>

      <div class="field">
        <%= f.label :identidade %>
        <%= f.text_field :identidade %>
      </div>
      <br/>

      <div class="field">
        <%= f.label :telefone %>
        <%= f.telephone_field :telefone, placeholder: '(99) 99999-9999' %>
      </div>
      <br/>

      <div class="field">
        <%= f.label :Data_de_Nascimento %>
        <%= f.date_select :dataNasc %>
      </div>
      <br/>

      <div class="field">
        <%= f.label :endereco %>
        <%= f.text_field :endereco %>
      </div>
      <br/>

      <div class="field">
        <%= f.label :Rank %>
        <%= f.select(:rk_ninja_id, RkNinja.new.get_rank_options) %>
      </div>
    </div><br/>

    <!-------------- DADOS DE CONTA---------------->
    <h4 style="border-bottom: 2px solid #aaa">Dados de Conta</h4>

    <div id="devise_form_box">
      <div class="field">
        <%= f.label :Usuario %><br/>
        <%= f.text_field :user_name %>
      </div>

      <div class="field">
        <%= f.label :email %><br/>
        <%= f.email_field :email %>
      </div>

      <div class="field">
        <%= f.label :password %>
        <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br/>
        <%= f.password_field :password, autocomplete: "off" %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation %><br/>
        <%= f.password_field :password_confirmation, autocomplete: "off" %>
      </div>

      <div class="actions" style="margin-top: 20px">
        <%= f.submit "Enviar" %>
      </div>
    </div>
<% end %>

<%= link_to 'Log in', new_pessoa_session_path %> |
<%= link_to 'Cancelar', main_page_index_path %>
