<% if false %>

    <%= flash_mensagem %>

    <h1>Nv Difics</h1>

    <table>
      <thead>
      <tr>
        <th>Nivel</th>
        <th>Preco</th>
        <th colspan="3"></th>
      </tr>
      </thead>

      <tbody>
      <% @nv_difics.each do |nv_dific| %>
          <tr>
            <td><%= nv_dific.nivel %></td>
            <td><%= nv_dific.preco %></td>
            <td><%= link_to 'Ver', nv_dific %></td>
            <td><%= link_to 'Editar', edit_nv_dific_path(nv_dific) %></td>
            <td><%= link_to 'Deletar', nv_dific, method: :delete, data: {confirm: 'Tem certeza?'} %></td>
          </tr>
      <% end %>
      </tbody>
    </table>

    <br>

    <%= link_to 'Novo nivel de dificuldade', new_nv_dific_path %>

<% else %>
    <%= render 'main_page/erro_pagina_inacessivel' %>
<% end %>