<p id="notice"><%= notice %></p>

<p>
  <strong>Nivel:</strong>
  <%= @nv_dific.nivel %>
</p>

<p>
  <strong>Preco:</strong>
  <%= @nv_dific.preco %>
</p>

<%= link_to 'Edit', edit_nv_dific_path(@nv_dific) %> |
<%= link_to 'Back', :back %>
