<% if false %>

    <%= flash_mensagem %>

    <p>
      <strong>Nivel:</strong>
      <%= @nv_dific.nivel %>
    </p>

    <p>
      <strong>Preco:</strong>
      <%= @nv_dific.preco %>
    </p>

    <%= link_to 'Edita', edit_nv_dific_path(@nv_dific) %> |
    <%= link_to 'Voltar', :back %>

<% else %>
    <%= render 'main_page/erro_pagina_inacessivel' %>
<% end %>