<br/><h1>Equipes</h1>

<%= form_tag(pessoa_path(@pessoa), method: :get) do %>
    <%= text_field_tag :buscar_equipes %>
    <%= submit_tag 'Buscar', name: nil %>

    <% @equipes = Equipe.new.buscar_por(params[:buscar_equipes]) %>
<% end %>
<br/>

<table>
  <tr>
    <th>Equipe |</th>
    <th>Membro 1 |</th>
    <th>Membro 2 |</th>
    <th>Membro 3 |</th>
    <th>Membro S |</th>
    <th>Media da equipe</th>
  </tr>

  <% @equipes.each do |equipe| %>
      <tr>
        <td><%= equipe.nomeEq %></td>
        <td><%= equipe.membro_1 %></td>
        <td><%= equipe.membro_2 %></td>
        <td><%= equipe.membro_3 %></td>
        <td><%= equipe.membro_s %></td>
        <td><%= equipe.mediaEq %></td>
        <td><%= link_to 'ver', equipe_path(equipe) %></td>
      </tr>
  <% end %>
</table>