<% if pessoa_signed_in? and current_pessoa.tipo.downcase == "admin" %>

    <%= flash_mensagem %>

    <h1>Editar Equipe</h1>

    <div id="demais_form_box">
      <%= render 'form', equipe: @equipe %>
    </div>

    <%= link_to 'Ver', @equipe %> |
    <%= link_to 'Voltar', equipe_path(@equipe) %>

<% else %>
    <%= render 'main_page/erro_autenticar_admin' %>
<% end %>