<p id="notice"><%= notice %></p>

<h1>Equipes</h1>

<table>
  <thead>
    <tr>
      <th>Nomeeq</th>
      <th>Media da equipe</th>
      <th>Mb 1</th>
      <th>Mb 2</th>
      <th>Mb 3</th>
      <th>Mb s</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @equipes.each do |equipe| %>
      <tr>
        <td><%= link_to equipe.nomeEq, equipe_path(equipe) %></td>
        <td><%= equipe.mediaEq %></td>
        <td><%= link_to equipe.membro_1, pessoa_path(equipe.mb_1_id) %></td>
        <td><%= link_to equipe.membro_2, pessoa_path(equipe.mb_2_id) %></td>
        <td><%= link_to equipe.membro_3, pessoa_path(equipe.mb_3_id) %></td>
        <td><%= link_to equipe.membro_s, pessoa_path(equipe.mb_S_id) %></td>
        <td><%= link_to 'Show', equipe %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Equipe', new_equipe_path %>
