<p id="notice"><%= notice %></p>

<h1>Equipes</h1>

<table>
  <thead>
    <tr>
      <th>Nomeeq</th>
      <th>Mediaeq</th>
      <th>Mb 1</th>
      <th>Mb 2</th>
      <th>Mb 3</th>
      <th>Mb s</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @equipes.each do |equipe| %>
      <tr>
        <td><%= equipe.nomeEq %></td>
        <td><%= equipe.mediaEq %></td>
        <td><%= equipe.mb_1 %></td>
        <td><%= equipe.mb_2 %></td>
        <td><%= equipe.mb_3 %></td>
        <td><%= equipe.mb_S %></td>
        <td><%= link_to 'Show', equipe %></td>
        <td><%= link_to 'Edit', edit_equipe_path(equipe) %></td>
        <td><%= link_to 'Destroy', equipe, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Equipe', new_equipe_path %>
