<p id="notice"><%= notice %></p>

<p>
  <strong>Nomeeq:</strong>
  <%= @equipe.nomeEq %>
</p>

<p>
  <strong>Mediaeq:</strong>
  <%= @equipe.mediaEq %>
</p>

<p>
  <strong>Mb 1:</strong>
  <%= @equipe.mb_1 %>
</p>

<p>
  <strong>Mb 2:</strong>
  <%= @equipe.mb_2 %>
</p>

<p>
  <strong>Mb 3:</strong>
  <%= @equipe.mb_3 %>
</p>

<p>
  <strong>Mb s:</strong>
  <%= @equipe.mb_S %>
</p>

<%= link_to 'Edit', edit_equipe_path(@equipe) %> |
<%= link_to 'Back', :back %>
