<% if false %>

    <%= flash_mensagem %>

    <h1>Editing Comentario</h1>

    <%= render 'form', comentario: @comentario %>

    <%= link_to 'Ver', @comentario %> |
    <%= link_to 'Voltar', :back %>

<% else %>
    <%= render 'main_page/erro_pagina_inacessivel' %>
<% end %>