<% if false %>

    <%= flash_mensagem %>

    <p>
      <strong>Cometario:</strong>
      <%= comentario.cometario %>
    </p>

    <p>
      <strong>Missao:</strong>
      <%= comentario.misso_id %>
    </p>

    <p>
      <strong>Pessoa:</strong>
      <%= comentario.pessoa_id %>
    </p>

<% else %>
    <%= render 'main_page/erro_pagina_inacessivel' %>
<% end %>