<div id="bem_vindo">
  <h1>Bem Vindo <%= @pessoa.nome %></h1>
  <h3>(<%= @pessoa.tipo %> / <%= @pessoa.rank %>)</h3>
</div>

<div id="acessos_usuario">
  <% if @pessoa.tipo.downcase == "admin" %>
      <h5><%= link_to 'Criar missão', new_misso_path %></h5>
      <h5><%= link_to 'Montar uma equipe', new_equipe_path %></h5>
  <% elsif @pessoa.tipo.downcase == "solicitante" %>
      <h5><%= link_to 'criar missão', new_misso_path %></h5>
  <% end %>
  <h5><%= link_to 'Editar minha conta', edit_pessoa_registration_path(@pessoa) %></h5>
  <h5><%= link_to 'Voltar', main_page_index_path %></h5>
</div>

<div id="buscas">
    <div id="equipes"><%= render 'equipes/equipes' %></div>

    <div id="missoes"><%= render 'missos/missoes' %></div>
</div>
