<% if false %>

    <%= flash_mensagem %>

    <h1>Editing Rk Ninja</h1>

    <%= render 'form', rk_ninja: @rk_ninja %>

    <%= link_to 'Show', @rk_ninja %> |
    <%= link_to 'Back', :back %>

<% else %>
    <%= render 'main_page/erro_pagina_inacessivel' %>
<% end %>