<% if false %>

    <%= flash_mensagem %>

    <h1>Rk Ninjas</h1>

    <table>
      <thead>
      <tr>
        <th>Rank</th>
        <th colspan="3"></th>
      </tr>
      </thead>

      <tbody>
      <% @rk_ninjas.each do |rk_ninja| %>
          <tr>
            <td><%= rk_ninja.rank %></td>
            <td><%= link_to 'Show', rk_ninja %></td>
            <td><%= link_to 'Edit', edit_rk_ninja_path(rk_ninja) %></td>
            <td><%= link_to 'Destroy', rk_ninja, method: :delete, data: {confirm: 'Are you sure?'} %></td>
          </tr>
      <% end %>
      </tbody>
    </table>

    <br>

    <%= link_to 'New Rk Ninja', new_rk_ninja_path %>

<% else %>
    <%= render 'main_page/erro_pagina_inacessivel' %>
<% end %>