<% if false %>

    <%= flash_mensagem %>

    <p>
      <strong>Rank:</strong>
      <%= @rk_ninja.rank %>
    </p>

    <%= link_to 'Edit', edit_rk_ninja_path(@rk_ninja) %> |
    <%= link_to 'Back', :back %>

<% else %>
    <%= render 'main_page/erro_pagina_inacessivel' %>
<% end %>