<h1>Bem Vindo a Villa da Nuvem!</h1>

<table>
  <tr>
    <td>
      <h2>Rank: Melhores Equipes</h2>
      <table>
        <tr>
          <td>Posição</td>
          <td>Equipe</td>
          <td>Membro 1</td>
          <td>Membro 2</td>
          <td>Membro 3</td>
          <td>Membro S</td>
          <td>Pontuação</td>
        </tr>
        <% count=0 %>
        <% @equipes.each do |equipe, pontuacao| %>
            <% count+=1 %>
            <tr>
              <td><%= count %></td>
              <td><%= link_to equipe.nomeEq, equipe_path(equipe) %></td>
              <td><%= link_to equipe.get_membro(equipe.mb_1_id), pessoa_path(equipe.mb_1_id) %></td>
              <td><%= link_to equipe.get_membro(equipe.mb_2_id), pessoa_path(equipe.mb_2_id) %></td>
              <td><%= link_to equipe.get_membro(equipe.mb_3_id), pessoa_path(equipe.mb_3_id) %></td>
              <td><%= link_to equipe.get_membro(equipe.mb_S_id), pessoa_path(equipe.mb_S_id) %></td>
              <td><%= pontuacao %></td>
            </tr>
        <% end %>
      </table>
    </td>
  </tr>
</table>

<h3><%= link_to 'Ver Tabelas', main_page_table_path %></h3>