<%= flash_mensagem %>

<div id="top_banner" class="top.banner">
  <h1>Bem Vindo a Villa da Nuvem!</h1>

  <div id="area_usuario" class="area.usuario">
    <% if pessoa_signed_in? %>
        <h5><%= link_to 'Meu Feed', pessoa_path(current_pessoa) %></h5>
        <h5><%= link_to 'Logoff', destroy_pessoa_session_path, method: :delete %></h5>
    <% else %>
        <h5><%= link_to 'Criar Conta', new_pessoa_registration_path %></h5>
        <h5><%= link_to 'Login', new_pessoa_session_path %></h5>
    <% end %>
  </div>
</div>

<div id="melhores_equipes" class="melhores.equipes">
  <h2>Melhores Equipes</h2>
  <table>
    <tr>
      <th>Posição |</th>
      <th>Equipe |</th>
      <th>Membro 1 |</th>
      <th>Membro 2 |</th>
      <th>Membro 3 |</th>
      <th>Membro S |</th>
      <th>Pontuação</th>
    </tr>
    <% count=0 %>
    <% @equipes.each do |equipe, pontuacao| %>
        <% count+=1 %>
        <tr>
          <td><%= count %></td>
          <td><%= link_to equipe.nomeEq, equipe_path(equipe) %></td>
          <td><%= link_to equipe.membro_1, pessoa_path(equipe.mb_1_id) %></td>
          <td><%= link_to equipe.membro_2, pessoa_path(equipe.mb_2_id) %></td>
          <td><%= link_to equipe.membro_3, pessoa_path(equipe.mb_3_id) %></td>
          <td><%= link_to equipe.membro_s, pessoa_path(equipe.mb_S_id) %></td>
          <td><%= pontuacao %></td>
        </tr>
    <% end %>
  </table>

</div>