<h1>TABLES</h1>
<table>
  <tr>
    <td><%= link_to 'Pessoas', pessoas_path %></td>
  </tr>
  <tr>
    <td><%= link_to '---Nivel de Dificuldade', nv_difics_path %></td>
  </tr>
  <tr>
    <td><%= link_to 'Missoes', missos_path %></td>
  </tr>
  <tr>
    <td><%= link_to 'Equipes', equipes_path %></td>
  </tr>
  <tr>
    <td><%= link_to '---Tipo de Usuarios', tp_users_path %></td>
  </tr>
  <tr>
    <td><%= link_to '---Rank Ninja', rk_ninjas_path %></td>
  </tr>
  <tr>
    <td><%= link_to 'BACK', :back %></td>
  </tr>
</table>
