<%= form_with(model: misso, local: true) do |form| %>
    <% if misso.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(misso.errors.count, "error") %> prohibited this misso from being saved:</h2>

          <ul>
            <% misso.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= form.label :nome %>
      <%= form.text_field :nome, id: :misso_nome %>
    </div>

    <div class="field">
      <%= form.label :local %>
      <%= form.text_field :local, id: :misso_local %>
    </div>

    <div class="field">
      <%= form.label :Nivel %>
      <%= form.select :nv_dific_id, NvDific.new.get_opcoes_nivel %>
    </div>

    <% if current_pessoa.tipo.downcase == "admin" %>
        <div class="field">
          <%= form.label :Equipe %>
          <%= form.select :equipe_id, Equipe.new.get_opcoes_equipes %>
        </div>
    <% end %>

    <% if current_pessoa.tipo.downcase == "admin" %>
        <div class="field">
          <%= form.label :preco %>
          <%= form.text_field :preco, id: :misso_preco %>
        </div>
    <% end %>

    <div class="actions">
      <%= form.submit "Enviar" %>
    </div>
<% end %>
