<br/><h1>Missões</h1>

<%= form_tag(pessoa_path(@pessoa), method: :get) do %>
    <%= text_field_tag :buscar_missoes %>
    <%= submit_tag 'Buscar', name: nil %>

    <% @missos = Misso.new.buscar_por(params[:buscar_missoes]) %>
<% end %>

<table>
  <thead>
  <tr>
    <th>Nome |</th>
    <th>Local |</th>
    <th>Id nv |</th>
    <th>Id equipe |</th>
    <th>Id pessoa |</th>
    <th>Preco</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @missos.each do |misso| %>
      <tr>
        <td><%= misso.nome %></td>
        <td><%= misso.local %></td>
        <td><%= misso.nv_dific_id %></td>
        <td><%= misso.equipe_id %></td>
        <td><%= misso.pessoa_id %></td>
        <td><%= misso.preco %></td>
        <td><%= link_to 'Ver', misso %></td>
      </tr>
  <% end %>
  </tbody>
</table>