<br/><h1>Missões</h1>

<%= form_tag(pessoa_path(@pessoa), method: :get) do %>
    <%= text_field_tag :buscar_missoes %>
    <%= submit_tag 'Buscar', name: nil %>

    <% @missos = Misso.new.buscar_por(params[:buscar_missoes]) %>
<% end %>
<br/>

<table>
  <tr>
    <th>Nome |</th>
    <th>Local |</th>
    <th>Nivel |</th>
    <th>Equipe |</th>
    <th>Responsável |</th>
    <th>Preço</th>
    <th colspan="3"></th>
  </tr>

  <% @missos.each do |misso| %>
      <tr>
        <td><%= misso.nome %></td>
        <td><%= misso.local %></td>
        <td><%= misso.nivel %></td>
        <td><%= misso.equipe %></td>
        <td><%= misso.responsavel %></td>
        <td><%= misso.preco %></td>
        <td><%= link_to 'Ver', misso %></td>
      </tr>
  <% end %>
</table>