<% if pessoa_signed_in? and current_pessoa.tipo.downcase == "admin" %>

    <%= flash_mensagem %>

    <h1>Editar Missao</h1>

    <div id="demais_form_box">
      <%= render 'form', misso: @misso %>
    </div>

    <%= link_to 'Ver', @misso %> |
    <%= link_to 'Voltar', misso_path(@misso) %>

<% else %>
    <%= render 'main_page/erro_autenticar_admin' %>
<% end %>