<%= form_with(model: avaliaco, local: true) do |form| %>
  <% if avaliaco.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(avaliaco.errors.count, "error") %> prohibited this avaliaco from being saved:</h2>

      <ul>
      <% avaliaco.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :avaliacao %>
    <%= form.number_field :avaliacao, id: :avaliaco_avaliacao %>
  </div>

  <div class="field">
    <%= form.label :ID_avaliado %>
    <%= form.number_field :ID_avaliado, id: :avaliaco_ID_avaliado %>
  </div>

  <div class="field">
    <%= form.label :ID_avaliador %>
    <%= form.number_field :ID_avaliador, id: :avaliaco_ID_avaliador %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
