<% if false %>
    <%= flash_mensagem %>

    <h1>Editing Avaliaco</h1>

    <%= render 'form', avaliaco: @avaliaco %>

    <%= link_to 'Ver', @avaliaco %> |
    <%= link_to 'Voltar', :back %>

<% else %>
    <%= render 'main_page/erro_pagina_inacessivel' %>
<% end %>