<% if false %>

    <%= flash_mensagem %>

    <h1>Avaliacos</h1>

    <table>
      <thead>
      <tr>
        <th>Avaliacao</th>
        <th>Avaliado</th>
        <th>Avaliador</th>
        <th colspan="3"></th>
      </tr>
      </thead>

      <tbody>
      <% @avaliacos.each do |avaliaco| %>
          <tr>
            <td><%= avaliaco.avaliacao %></td>
            <td><%= avaliaco.avaliado_id %></td>
            <td><%= avaliaco.avaliador_id %></td>
            <td><%= link_to 'Show', avaliaco %></td>
          </tr>
      <% end %>
      </tbody>
    </table>

<% else %>
    <%= render 'main_page/erro_pagina_inacessivel' %>
<% end %>