<p id="notice"><%= notice %></p>

<p>
  <strong>Avaliacao:</strong>
  <%= @avaliaco.avaliacao %>
</p>

<p>
  <strong>Id avaliado:</strong>
  <%= @avaliaco.avaliado_id %>
</p>

<p>
  <strong>Id avaliador:</strong>
  <%= @avaliaco.avaliador_id %>
</p>

<%= link_to 'Edit', edit_pessoa_avaliaco_path(@avaliaco) %> |
<%= link_to 'Back', :back %>
