<% if false %>

    <%= flash_mensagem %>

    <p>
      <strong>Avaliacao:</strong>
      <%= @avaliaco.avaliacao %>
    </p>

    <p>
      <strong>Avaliado:</strong>
      <%= @avaliaco.avaliado_id %>
    </p>

    <p>
      <strong>Avaliador:</strong>
      <%= @avaliaco.avaliador_id %>
    </p>

    <%= link_to 'Editar', edit_pessoa_avaliaco_path(@avaliaco) %> |
    <%= link_to 'Voltar', :back %>

<% else %>
    <%= render 'main_page/erro_pagina_inacessivel' %>
<% end %>